bode{
    background-color: rgb(57, 234, 57);
}
h1{
    background-color: #fff;
    color: red;
    text-align: center;
}
h2{
    background-color: #f7b6b6;
    color: blueviolet;
    text-align: center;
}
p{
    background-color: #e8ab11;
    color: black;
    
}